@import '~bootstrap/scss/bootstrap';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
  background: url('./img/loboteckbackground.png')no-repeat center center fixed;
  background-size: cover;
  }

.bg-dark {
  background-color: rgba(252, 108, 36, 0) !important;
}

.btn-primary {
  background-color: #FC6C24;
  border-color: #000000;
}

// div {
//   padding: 10px;
// }

p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

.data {
  margin-top: 1rem;
}

.wrap {
  width: 500px;
  background: linear-gradient(45deg, #FC6C24, #fff);
  border-radius: 10px;
  padding: 72px 55px 65px 55px;
  position: relative;
  left: 18rem;
}

.profile {
    display: block;
    font-size: 39px;
    color: #FC6C24;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 70px;
    position: relative;
    right: 1.3rem;
}

input {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
    padding: 0 5px;
    border-radius: 5px;
    padding-bottom: 1rem;
}

button {
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    min-width: 120px;
    height: 50px;
    border-radius: 2px;
    display: inline;
    margin-left: 7.5px;
    margin-top: 1.5rem;
}

.business {
  font-size: 25px;
  color: #000000;
}

.welcome-p {
  color: #000000;
}

.welcome-message {
  position: relative;
}

.navbar-dark .navbar-brand {
  font-size: 2rem;
  color: #000000;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #000000;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
    position: relative;
    right: 20.5rem;
    top: 3rem;
}

.navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    position: relative;
    left: 10rem;
    bottom: 3rem;
}
