@import '~bootstrap/scss/bootstrap';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
  background: url('./img/business-background.jpeg')no-repeat center center fixed;
  background-size: cover;
}

h4, h5 {
  text-align: center;
}

.profile-form {
  position: relative;
  top: 9rem;
}

.h3-div {
  width: 800px;
  height: auto;
}

.bg-dark {
  background-color: rgba(252, 108, 36, 0) !important;
}

.btn-primary {
  background-color: #000000;
  border-color: #fff;
}

// div {
//   padding: 10px;
// }

p {
  font-size: 20px;
  line-height: 1.7;
  color: #000000;
  margin: 0px;
}

.data {
  margin-top: 1rem;
  position: relative;
  top: 9rem;
}

.wrap {
  width: 500px;
  background: rgb(252,108,36);
  background: linear-gradient(278deg, rgba(252,108,36,0.6096813725490196) -1%, rgba(255,255,255,1) 100%);
  border-radius: 10px;
  padding: 72px 55px 65px 55px;
  position: relative;
  left: 18rem;
}

.profile {
    font-size: 39px;
    color: #000000;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 70px;
    position: relative;
    top: 3rem;
    background-color: #EAEBEF;
    width: 550px;
    height: auto;
    border: 3px solid;
    border-radius: 30px;
    padding: 2px;
}

input {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
    padding: 0 5px;
    border-radius: 5px;
    padding-bottom: 1rem;
}

button {
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    min-width: 120px;
    height: 50px;
    border-radius: 2px;
    display: inline;
    margin-left: 7.5px;
    margin-top: 1.5rem;
    &:hover {
      background-color: #000000;
    }
}

.business {
  font-size: 25px;
  color: #000000;
}

.welcome-p {
  color: #000000;
}

.welcome-message {
  position: relative;
}

.navbar-dark .navbar-brand {
  font-size: 2rem;
  color: #fff;
  position: relative;
  left: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #000000;
}

// .ml-auto, .mx-auto {
//     margin-left: auto !important;
//     position: relative;
//     right: 20.5rem;
//     top: 3rem;
// }

.navbar-expand-md .navbar-collapse {
    position: relative;
    right: 2rem;
}
